$button-color: #2185ec

.recommendations-container
  // border: dotted thin red
  margin: 2rem auto
  width: 512px

  .user-input-container
    font-size: 1.2rem
    display: flex
    align-items: center
    justify-content: center

    input
      border-radius: 5px
      padding: .3rem .5rem
      margin: 0 1rem
      border: solid 2px #ccc

    label
      text-align: right
      padding: .3rem .5rem 0
      font-weight: bold
      user-select: none

    button
      color: white
      background-color: $button-color
      border: none
      text-align: center
      border-radius: 0.5rem
      padding: 0.5rem
      cursor: pointer

  .user-container
    // border: dotted thin green
    font-family: Arial
    width: 100%
    padding: 1rem
    display: flex
    align-items: center
    justify-content: center

    img
      width: 5rem
      height: 5rem
      margin: 0 1rem
      border-radius: 50%
      border: solid 2px #ccc

  .graph-container
    width: 100%
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center

    p
      padding: 0 1rem
      text-align: justify

    h2
      padding: 0
      margin: 1rem 0 0 0

.loading-msg
  font-size: 2rem
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
